li.win::marker {
  color: green;
}

li.loss::marker {
  color: red;
}

.profile-name {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tagline {
  font-size: 0.8em;
  color: gray;
}

.ranked-icon {
  width: 50px;
  height: 50px;
}

.ranked-stats {
  display: flex;
  gap: 20px;
}

.profile-header {
  width: 150px;
  height: 150px;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: center;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.summoner-level {
  position: absolute;
  font-weight: 600;
  font-size: 1em;
  background-color: #272727;
  padding: 0px 8px;
  border-radius: 10px;
}
